/*
	CSS Syntax
	selector{
		propertyA: valueA;
		propertyB: valueB;
	}
*/

/*
	* (universal selector)
		it selects all elements in the webpage.
	font-family="Courier-New", monospace;
		it sets the font to be used by the browser which is Courier New. Since the specific font is not existing in all browsers, monospace gives the browser an option to use if Courier New is not existing. it will search its fonts that belong to monospace.
	font-size
		sets the font size to the specified measurement.
	px
		pixels
	html selector
		used to select all elements inside the html tag
	!important
		overrides/disregards the ranking of priority and makes the property the priority
	rem
		root element measurement; html tag is the root element. by default, rem = 16px.
		computation:  n*rem; n=number attached before the rem.
	height
		modifies the height of the element
	vh
		viewport height. the measurement of the monitor of the user.
	list-style-type
		changes the style of bullets/numbering in a list
	letter-spacing
		changes the spaces between letters of the text element
	class selectors
		.className {}
	text-transform
		changes teh casing of the text element
	attribute selector
		tag[attribute]{
			property: value;
		}
	adjacent sibling selector
		selects the sibling directly after the first selector. both selectors don't have to belong to the same (tag, id, class could also be used)
		firstSelector + secondSelector {
			property: value;
		}
	border-radius
		round the corner of the img element
	descendant selector
		selects the specified element that is a descendant of the first element
		firstSelector descendant {
			property: value;
		}
	general sibling selector
		selects the sibling element that comes after the first element
		firstSelector ~ generalSibling
	text-decoration
		changes the decoration of the text, usually lining the text
	selector: hover;
		changes the style of the element once the cursor hovered over it
	child > selector {
	
	}


*/

* {
	font-family: "Courier-New", monospace;
	font-size: 20px;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: skyblue;
}

nav {
	background-color: white;
}

nav > div {
	display: inline-block;
	float: right;
}

h1 {
	color: red !important;
	font-size: 2rem;
	text-align: center;
}

section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

ol {
	list-style-type: none;
}

a:hover{
	background-color: #b4d6de;
}

#zuitt-motto {
	letter-spacing: 5px;
	font-size: 30px;
}

.offered-items {
	text-transform: uppercase;
}

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: yellow;
}

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

section li {
	color: #075966;
}

h2 ~ a {
	text-decoration: line-through;
}

form {
	color: rgb(0, 0, 128);
	text-align: center;
	background-color: white;
	border: 2px solid black;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button {
	color: white;
	background-color: #CF0053;
	border: 0;
	border-radius: 15px;
}