* {
	font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
}

#external {
	color: orange;
}

h1 {
	font-size: 2rem;
}

#learn {
	text-transform: uppercase;
}

.li {
	background-color: orange;
}

li[toolsUsed]{
	border-width: 0.2rem;
	border-style: solid;
	border-color: orange;
}

div + li {
	list-style-type: none;
}

div img {
	width: 300px;
	height: 300px;
	border-radius: 150px;
}

ol ~ p {
	text-align: center;
	font-size: 1rem;
}

div > li {
	letter-spacing: 10px;
}